.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* my css */

.App {
    margin: auto;
    /* padding: 10%; */
}

.tool-top {
    position: absolute;
}

.tool-tip-bottom,
.tool-tip-left,
.tool-tip-right,
.tool-tip-top {
    color: white;
    padding: 20px;
    font-weight: 900;
    background-color: orangered;
}

.tool-tip-top {}

.main {
    padding: 10px 20px;
    background-color: blue;
    color: red;
    border: 0px;
    border-radius: 30px;
    color: white;
    font-weight: 800;
}

.selected-state {
    text-transform: capitalize;
}

#dropdown {
    padding: 2px 4px;
}

.img {
    /* height: 20px; */
    /* transform: translateX(-23230%, -5000%); */
}